Config { font = "-misc-fixed-*-*-*-*-10-*-*-*-*-*-*-*"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Static { xpos = 0 , ypos = 15 , width = 1024 , height = 15 }
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [Run DynNetwork ["-t","<rx>-d * <tx>-u",
	                                  "-L","0","-H","1024000","--normal","#E3E3E3",
	                                  "--high","green","-S","True"] 10
                    , Run Brightness ["-t", "<percent>"] 60
					 , Run Alsa "default" "Master" ["-t", "<dB><status>", "--", "-O", "m",
					            "-o", "m", "-C", "#777777", "-c", "red"]
					 , Run Com "python3" ["~/.xmobar/script/get_sensors.py", "~/.xmobar/sensors-thinkpad.json"] "temps" 50
					 , Run Com "sh" ["-c","~/.xmobar/script/getip"] "" 20
                    , Run CoreTemp ["-t", "coret: <core0>°C <core1>°C",
                 "-L", "40", "-H", "75",
                 "-l", "lightblue", "-n", "#E3E3E3", "-h", "red"] 50
                    , Run Uptime ["-t", "up <days>d<hours>h<minutes>m"] 600
                    , Run XMonadLog
					]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%sh% %dynnetwork% }{%bright% | %alsa:default:Master% | %coretemp% | %temps% | <fc=#ee9a00>%uptime%</fc>"
       }
