Config { font = "xft:Source Code Pro-9"
       , additionalFonts = []
       , bgColor = "black"
       , fgColor = "grey"
       , position = Top
       , overrideRedirect = False
       , commands = [ Run DynNetwork ["-t","<rx>-d * <tx>-u",
	                                  "-L","0","-H","1024000","--normal","#E3E3E3",
	                                  "--high","green","-S","True"] 10
                    , Run Cpu ["-t","cpu: <total>%","-L","30","-H","60",
                               "--normal","green","--high","red","-p","2"] 20
                    , Run Memory ["-t","mem: <used>MiB-u * <available>MiB-a","-L","10240","-H","12288",
                                  "--normal","grey","--high","grey","-m","5"] 30
                    , Run Swap ["-t","swap: <used>MiB","-L","80","-H","500",
					            "-h","red","-n","yellow","-m","3"] 30
                    , Run Com "sh" ["-c", "~/.xmobar/script/get_kernelv"] "unames" 0
                    , Run Com "sh" ["-c", "~/.xmobar/script/get_mousebatt"] "mouse" 60
                    , Run Com "cat" ["/etc/hostname"] "" 0
                    , Run Com "sh" ["-c","~/.xmobar/script/getip"] "" 20
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run Com "bash" ["/home/patrick/pomodoro/quick-status.sh"] "pomo" 100
                    , Run BatteryP ["BAT0"] ["-t","<watts>, <left> <leftvbar> <timeleft>",
                                      "-H", "60", "-L", "20",
                                      "--normal","#E3E3E3","-S","True",
                                      "--",
	                                  "-L","12","-H","15","-m","#E3E3E3","-h","red",
                                      "-p", "green"] 10
                    -- , Run Com "bash" ["/home/patrick/bfp/main-wrapper.sh"] "bfp" 600
                    , Run Alsa "default" "Master" ["-t", "<volume><status>", "--", "-O", "m",
                               "-o", "m", "-C", "#777777", "-c", "red"]
                    , Run Brightness [ "-t", "<percent>", "--", "-D", "intel_backlight", "-C", "brightness" ] 60
                     -- corresponding template: <action='~/.xmobar/script/run_alsamixer.sh'>%alsa:default:Master%</action> |
                    , Run Uptime ["-t", "up <days>d<hours>h<minutes>m"] 600
                    , Run XMonadLog
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%cpu% | %memory% * %swap% | %sh% %dynnetwork%}{ %XMonadLog%%alsa:default:Master% %bright% | %battery% | %unames% @ %cat% <fc=#ee9a00>%uptime%</fc> | <fc=#ee9a00>%date%</fc>"
       }
