Config { font = "-misc-fixed-*-*-*-*-10-*-*-*-*-*-*-*"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-t","cpu: <total>%","-L","30","-H","60",
                               "--normal","green","--high","red","-p","2"] 20
                    , Run Memory ["-t","mem: <used>MiB","-L","1536","-H","2256",
                                  "--normal","yellow","--high","red","-m","4"] 30
                    , Run BatteryP ["BAT0"] ["-t","batt: <watts>, <left> - <timeleft>",
                                      "-H", "60", "-L", "20",
                                      "--normal","#E3E3E3","-S","True",
                                      "--",
	                                  "-L","12","-H","15","-m","#E3E3E3","-h","red",
                                      "-p", "green"] 10
                    , Run Swap ["-t","swap: <used>MiB","-L","80","-H","500",
					            "-h","red","-n","yellow","-m","3"] 30
                    , Run Com "sh" ["-c", "~/.xmobar/script/get_kernelv"] "unames" 0
                    , Run Com "cat" ["/etc/hostname"] "" 0
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run XMonadLog
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%cpu% | %memory% * %swap% | %battery% }\
                    \{%XMonadLog%%unames% @ %cat% | <fc=#ee9a00>%date%</fc>"
       }
